{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div style="max-width:400px; margin: 0 auto;">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <div style="margin-bottom:15px;">
            <label for="id_username">Username:</label>
            {{ form.username }}
        </div>
        <div style="margin-bottom:20px;">
            <label for="id_password">Password:</label>
            {{ form.password }}
        </div>
        <button type="submit" class="button">Log In</button>
    </form>
</div>
{% endblock %}
